.mainContainer {
    display: flex; 
    flex: 1; 
    height: 100%; 
    flex-direction: column;
    background-image: url('https://i.imgur.com/R3cpQ9R.gif');
    background-size: cover
}
body {
    /* background-color: #19191e; */
    background-size: cover;
    font-family: 'Raleway', sans-serif;
}
h1 {
    text-align: center;
    color: white;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0,0,0,0.9);
    font-size: 70px;
}
.h2 {
    text-align: left;
    color: rgb(248, 229, 229);
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0,0,0,0.9);
    font-size: 50px;
    padding-left:20px 
}
.title {
    color: white;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0,0,0,0.9);
    font-size: 40px;
}
.login {
    padding-top: 70px;
    color: white;
    flex-direction: column;
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center
}
.header {
    display: none;
    flex: 1;
}
.content {
    display: none;
    flex: 8;
}
.inputUsername {
    display: flex;
    background-color: white;
    border-radius: 20px;
    width: 250px;
    height: 40px;
    margin-bottom: 20px
}
.insideUsernameBubble {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px
}
.rooms {
    display: flex;
    flex: 5;
    flex-direction: column;
    overflow: auto;
}
.room {
    display: flex;
    flex:1;
    padding: 20px;
    background-color: white;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.roomsZone {
    display: flex;
    flex:1;
    flex-direction: column;
    margin: 20px;
    border: 3px solid white

}
.messagesZone {
    display: flex;
    flex:2.5;
    flex-direction: column;
    padding: 20px;
}
.headMessages {
    display: flex;
    flex:1;
    flex-direction: row;
}
.roomName{
    display: flex;
    flex:3;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding-left: 20px;
}
.roomClients{
    display: flex;
    flex:1;
    background-color: white;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px
}
.numberRoomClients{
    padding-right: 5px
}
.bodyMessages {
    display: flex;
    flex:5;
    background-image: url("https://www.todoiphone.net/wp-content/uploads/2014/03/WhatsApp-Wallpaper-39.jpg");
    flex-direction: column;
    overflow: auto;
}
.containerMessageMe{
    display:flex;
    justify-content: flex-end;
    padding: 10px;
    min-height: 70px;
}
.messageMe{
    background-color: rgb(141, 238, 165);
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: flex-end;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
    max-width: 50%;
}
.containerMessageOther{
    display:flex;
    justify-content: flex-start;
    padding: 10px;
    min-height: 70px;

}
.messageOther{
    display: flex;
    width: auto;
    background-color: white;
    flex-direction: column;
    padding: 10px;

    border-radius: 20px;
    border: 1px solid black;
    max-width: 50%;
}
.containerMessageUserConnected{
    display:flex;
    justify-content: center;
    padding: 10px;
    min-height: 70px;
}
.messageUserConnected{
    display: flex;
    width: auto;
    border-radius: 20px;
    background-color: rgb(113, 196, 235);
    flex-direction: column;
    padding: 10px;
    max-width: 50%;
}
.containerMessageUserDisconnected{
    display:flex;
    justify-content: center;
    padding: 10px;
    min-height: 70px;
}
.messageUserDisconnected{
    display: flex;
    width: auto;
    border-radius: 20px;
    padding: 10px;
    background-color: tomato;
    flex-direction: column;
    max-width: 50%;
}
.userMessageMe{
    flex:1;
}
.messageTextMe{
    flex:1;
}
.inputMessages {
    display: flex;
    flex:0.8;
    flex-direction: row
}
.inputText {
    display: flex;
    flex:5;
    background-color: white;
    font-size: 20px
}
.sendButton {
    display: flex;
    flex:1;
    background-color: #3366FF;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white
}
.user {
    display: flex;
    flex:1;
    color: white;
    justify-content: center;
    align-items: center;
    background-color: #3366FF
}
.userZone {
    position: absolute;
    top: 500px;
    height: 50px;
    width: 220px;
    background-color: grey;    
    border-radius: 0px 0px 20px 20px;
}
.logUserName {
    align-items: center; 
    border: 0px; 
    font-size: 15px
}
.inputRoomName {
    display:flex; 
    background-color: white; 
    border-radius: 20px; 
    width: 250px; 
    height: 40px; 
    margin-bottom: 20px
}
.inputRoomNameI{
    color: black; 
    font-size: 20px;
    padding-right: 10px
}
.inputRoomNameII {
    align-items: center; 
    border: 0px; 
    font-size: 15px
}
.inputRoomNameB{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding-left: 15px
}
.buttonEnterB{
    display: flex; 
    justify-content: center; 
    flex-direction: column; 
    align-content: center; 
    margin-left: auto; 
    margin-right: auto; 
    font-size: 20px    
}
.buttonEnter{
    display:flex; 
    background-color: #F2363C; 
    border-radius: 20px; 
    width: 150px; 
    height: 40px; 
    margin-bottom: 20px; 
    margin-left: auto; 
    margin-right: auto; 
    font-weight: 700
}

.avatar {
    color: black;
    font-size: 20px;
    padding-right: 10px
}
.username {
    position: absolute;
    left: 40px;
    top: 15px;
}
.usernamei {
    position: absolute;
    left: 15px;
    top: 17px;
}
/* .inapp {
    display: none;
} */
.cont{
    flex:1;
    background-color: red;
}
.container {
    position: absolute;
    left: 17px;
    top: 10px;
}
.containeri {
    position: absolute;
    padding-left: 120px;
    padding-top: 10px
}
.listrooms {
    position: absolute;
    left:20px;
    top: 40px;
    height: 600px;
    width: 220px;
}
.nameRooms{
    flex:1;
    display: flex;
    background-color: #3366FF;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px; 
    padding-right: 10px; 

}
canvas {
    cursor: crosshair;
    border: black solid 1px;
}
.canvas {
    display: flex;
    background-color: white;
}
.canvasZone{
    display: block;
    width: 500px;
    height: 510px;
    flex-direction: column;
    padding: 20px;
}
.bodyCanvas{
    display: block;
    width: 500px;
    height: 510px;
    background-color: white;
}
.toolsCanvas{
    display: flex;
    flex:0.9;
    background-color: grey;
    justify-content: center;
    align-items: center
}

.messages {
    border: 1px solid black;
    height: 500px;
    width: 600px;
    background-image: url("https://www.todoiphone.net/wp-content/uploads/2014/03/WhatsApp-Wallpaper-39.jpg");
    overflow: auto;
}
.message {
    border: 1px solid black;
    margin: 5px;
    padding: 10px;
    width: 50%;
    margin-right: auto;
    border-radius: 20px 20px 20px 0px;
    background-color: white;
}
.me {
    border: 1px solid black;
    margin: 5px;
    padding: 10px;
    width: 50%;
    border-radius: 20px 20px 0px 20px;
    background-color: rgb(141, 238, 165);
    margin-left: auto;
    float:right;
    margin-right: 20px;
    text-align: right;
}
.sendbut {
    height: 100%;
    width: 15%;
    border-radius: 0px 0px 25px 0px;
}

.nameroom {
    position: absolute;
    left: 15px;
    top: 4px;
    font-weight: bold;
}
.clients {
    position: absolute;
    left: 550px;
    top: 4px;
}
.clientsi {
    position: absolute;
    left: 562px;
    top: 5px;
}
.onroom {
    position: absolute;
    left: 950px;
    top: 80px;
    height: 522px;
    width: 400px;
    background-color: white;
    border-radius: 20px;
}
input[type=radio] {
	margin: 0;
	display: none;
	width: 0;
}
input[type=radio]:checked + label::after {
	content: '\2712';
	position: absolute;
	left: 8px;
}

label {
	display: inline-block; 
	width: 48px; height: 48px; 
	position: relative;
	padding-right: 5px;
	border-radius: 50%;
	text-shadow: 1px 1px 2px #000;
	color: #fff;
	font-size: 32px;
	line-height: 46px;
}
label[for=color01] {background: gold;}
label[for=color02] {background: darkorange;}
label[for=color03] {background: navy;}
label[for=color04] {background: yellowgreen;}
label[for=color05] {background: firebrick;}
label[for=color06] {background: powderblue;}
label[for=color07] { border: 1px solid black;}
.eraser {
    background-image: url('eraser.png');
    background-size: cover;
}
.userConnected {
    padding: 5px;
    border: 1px solid black;
    background-color: rgb(113, 196, 235);
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    font-size: 10px;
    min-height: 30px;
    text-align: center;
}
.userDisconnected {
    padding: 5px;
    border: 1px solid black;
    background-color: rgb(250, 117, 93);
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 25px;
    font-size: 10px;
    min-height: 30px;
    text-align: center;
}
.inputme {
    padding-left: 10px;
    border-radius: 20px;
    width: 530px;
    font-size: 20px;
    padding: 5px;   
}
.sendbut {
    height: 40px;
    width: 50px;
    border-radius: 25px;
    background-color: #F2363C;
}
select {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="#d1d1d1" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>') center right no-repeat;
    padding-right: 3.0rem;
}
    select:focus {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="#9b4dca" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>');
    }
/* label[for=color01] {
    background: gold;
}
label[for=color02] {
    background: darkorange;
}

label[for=color03] {
    background: navy;
}

label[for=color04] {
    background: yellowgreen;
}

label[for=color05] {
    background: firebrick;
}

label[for=color06] {
    background: powderblue;
}

label[for=color07] {
    background: white;
    border: 1px black solid
} */
/* label {
    display: inline-block;
    width: 25px;
    height: 25px;
    position: relative;
    padding-right: 5px;
    border-radius: 50%;
    text-shadow: 1px 1px 2px #000;
    color: #fff;
    font-size: 10px;
    line-height: 20px;
} */